:root {
	--bg: #1b1723;
	--bg-elevated: #241f2e;
	--surface: #2c2638;
	--surface-hover: #2f293d;
	--border: #3d3550;

	--text-hover: #c9b6ec;
	--text: #baaed0;
	--text-muted: #958ca7;

	--primary: #b391f1;
	--primary-hover: #c9b6ec;
	--border-focus: color-mix(in srgb, var(--primary) 50%, var(--border) 50%);

	--success: #a8d8c0;
	--info: #a3c2e3;
	--warning: #e8d3a3;
	--danger: #e3a3b0;

	--radius: 5px;
	--shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	--shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.25);

	/* assorted misc pastel colors for things like color-coded course/calendar highlights */
	--misc-1: #f5c2e7;
	--misc-2: #f5dcc2;
	--misc-3: #e8f5c2;
	--misc-4: #c9f5c2;
	--misc-5: #c2f5e7;
	--misc-6: #adbbf0;

	--font-xs: 0.65rem;
	--font-sm: 0.75rem;
	--font-md: 0.9rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
	font-family: "JetBrains Mono", monospace, system-ui, sans-serif;
	font-size: var(--font-md);
	overflow: hidden;
}

body {
	background: var(--bg);
	color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 { font-size: var(--font-xl); }
h2 { font-size: var(--font-xl); }
h3 { font-size: var(--font-lg); }
p {
	margin: 0;
}

/* input styles */
input, textarea, select, button, .-input {
	font-family: inherit;
	font-size: inherit;
	color: var(---text, inherit);

	background-color: var(---bg, var(--surface));
	border-radius: var(--radius);
	border: 1px solid var(--border);
	outline: none;
	
	padding: 0.5em 0.75em;
	transition: border-color 200ms ease-out, background-color 200ms ease-out, color 200ms ease-out;

	&:hover, &:focus-visible {
		border-color: var(--border-focus);
		background-color: var(--surface-hover);
		color: var(--text-hover);
	}

	&.-selected {
		border-color: var(--primary);
		background-color: var(--surface-hover);
		color: var(--text-hover);
	}
	&.-flat {
		border: none;
		border-radius: 0;
	}
}

input[type="checkbox"] {
	width: 1.25em;
	height: 1.25em;
	appearance: none;
	padding: 0;
	margin: 0;

	position: relative;

	&::after {
		content: "";
		display: inline-block;
		width: 0.75em;
		height: 0.75em;
		border-radius: 3px;
		background-color: var(--primary);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		opacity: 0;
		transition: opacity 50ms ease-out;
	}
	&:checked::after {
		opacity: 1;
	}
}

fieldset {
	border: 1px solid var(--border);
	border-radius: var(--radius);
	padding: 0.75rem;
	gap: 1rem;
}
legend {
	padding: 0 0.5rem;
}

a {
	color: var(--primary);
	transition: color 200ms ease;
	&:hover {
		color: var(--primary-hover);
	}
}
.-empty {
	color: var(--text-muted);
	font-style: italic;
	font-size: var(--font-sm);
	margin: 0.25em 0.5em;
}

/* material-style input label inset in the border */
.-label-inset {
	position: relative;

	input {
		width: 100%;
	}
	label {
		position: absolute;
		top: 0;
		left: 0.5rem;
		transform: translateY(-50%);
		background-color: var(--surface);
		padding: 0 0.25em;
		border-radius: var(--radius);
		font-size: var(--font-xs);
	}
}

.lucide-icon {
	width: 1em;
	height: 1em;
}

/* pretty arbitrary convention, but i like it. utility styles starting with - */

.-render-error {
	gap: 0.5rem;
	padding: 1rem;

	border: 1px solid var(--danger);
	border-radius: var(--radius);

	h1, h2 { color: var(--danger); }
	p {
		color: var(--text-muted);
		white-space: pre-wrap;
	}
	pre {
		color: var(--text-muted);
		overflow-x:	auto;
		margin: 0;
		font-size: var(--font-sm);
	}
	button { align-self: start; }
}

.-card {
	background: var(--bg-elevated);
	border: 1px solid var(--border);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}
.-hover-hl {
	transition: transform 200ms ease, box-shadow 200ms ease;
	&:hover {
		transform: translateY(-1px);
		box-shadow: var(--shadow-hover);
	}
}
.-vflex {
	display: flex;
	flex-direction: column;
}
.-hflex {
	display: flex;
	flex-direction: row;
}
.-cgrid {
	display: grid;
	place-items: center;
}

.-spin {
	animation: spin 1s linear infinite;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* kind of hacky way to win precedence */
:not(#_).-error   { color: var(--danger); }
:not(#_).-warning { color: var(--warning); }
:not(#_).-info { color: var(--info); }
:not(#_).-success { color: var(--success); }

/*
 * improve webkit scrollbar styles
 * we also want to preserve overlay scrollbars where applicable so we can't use ::-webkit-scrollbar
 */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--border) var(--bg);
}
